@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
    color: #fefefe;
    background: #3c1361 url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    transform: scale(1);
}

.circle {
    background-color: #301934;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.gradient-circle {
    background: conic-gradient(#bca0dc 0%, #b491c8 40%, #fefefe 40%, #fefefe 60%, #663a82 60%, #52307c 100%);
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}