@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
    color: #fefefe;
    background: #3c1361 url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0;
}

.container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.container.grow {
    -webkit-animation: grow 3s linear forwards;
    animation: grow 3s linear forwards
}

.container.shrink {
    -webkit-animation: shrink 3s linear forwards;
    animation: shrink 3s linear forwards
}


.circle {
    background-color: #301934;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

@supports not (background: conic-gradient(#bca0dc 0%, #b491c8 40%, #fefefe 40%, #fefefe 60%, #663a82 60%, #52307c 100%)) {
    .gradient-circle {
        background: #52307c;
    }
}

.gradient-circle {
    background: conic-gradient(#bca0dc 0%, #b491c8 40%, #fefefe 40%, #fefefe 60%, #663a82 60%, #52307c 100%);
    height: 320px;
    width: 320px;
    z-index: -2;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}

.pointer {
    background-color: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

.pointer-container {
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    -webkit-animation: rotate 7.5s linear forwards infinite;
    animation: rotate 7.5s linear forwards infinite;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes grow {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}


@-webkit-keyframes shrink {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@keyframes shrink {
    from {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}